<div class="row">
    <div class="col-md-12 portlet light">
        <div class="portlet-title">
            <div class="caption"><span>Claim </span>Overview</div>
        </div>
        <div class="claim-item">
            <p class="claim-title">Type</p>
            <p class="claim-value">{{ claim.claimType }}</p>
            <p class="claim-title">Issuer</p>
            <a class="claim-value" href="/addr/{{claim.issuer}}" + >{{ claim.issuer }}</a>
            <div ng-show="claim.claimType == 1000">
                <p class="claim-title">Hash</p>
                <p class="claim-value">{{ dataParsed.hash }}</p>
                <p class="claim-title">Did</p>
                <p class="claim-value">{{ dataParsed.did }}</p>
                <p class="claim-title">Link</p>
                <p class="claim-value">{{ dataParsed.link }}</p>
                <p class="claim-title">Proof</p>
                <p class="claim-value">{{ dataParsed.proof }}</p>
                <p class="claim-title">Type</p>
                <p class="claim-value">{{ dataParsed.type }}</p>
                <p class="claim-title" ng-show="dataParsed.template">Template</p>
                <p class="claim-value" ng-show="dataParsed.template">{{ dataParsed.template }}</p>
            </div>
            <div ng-show="claim.claimType == 999">
                <p class="claim-title">Address</p>
                <p class="claim-value">{{ dataParsed.address }}</p>
                <p class="claim-title">City</p>
                <p class="claim-value">{{ dataParsed.city }}</p>
                <p class="claim-title">Name</p>
                <p class="claim-value">{{ dataParsed.name }}</p>
                <p class="claim-title">Contact</p>
                <p class="claim-value">{{ dataParsed.contact }}</p>
            </div>
        </div>
    </div>
</div>