<div class="row">
    <div class="col-md-12 portlet light">
        <div class="portlet-title">
            <div class="caption">Certificate</div>
        </div>
        <div class="proof-div" ng-show="claim.claimType == 1000">
            <div class="proof-header-div">
                <img ng-show="!dataParsed.template || dataParsed.template == 'proofme'" class="template-img" src="/img/proofmeblue.png">
                <img ng-show="dataParsed.template && dataParsed.template == 'aliveshoes'" class="template-img" src="/img/aliveshoes.png">
                <div class="header-bar"></div>
                <p class="proofme-text-header">BLOCKCHAIN CERTIFICATE</p>
            </div>
            <div class="proof-sub-info-div">
                <div class="proof-div-66">
                    <p class="sub-title">Type & Link</p>
                    <p class="bold">{{ dataParsed.type }}</p>
                    <p class="bold">{{ dataParsed.link }}</p>
                </div>
                <div class="proof-div-34 padding-left">
                    <p class="sub-title">Date & Block</p>
                    <p class="bold no-margin-bottom">{{ timestamp | date:'hh:mm:ss' }}  {{ timestamp | date:'dd MMMM yyyy' }}</p>
                    <a class="bold txhash" target="_blank" href="https://explorer.didux.network/block/{{ claim.blockNumber }}">#{{ claim.blockNumber }}</a>
                </div>
            </div>
            <div class="proof-sub-info-div">
                <div class="proof-div-66">
                    <p class="sub-title txhash">Blockchain Transaction</p>
                    <div class="padding-right">
                        <a class="bold txhash" target="_blank" href="https://explorer.didux.network/tx/{{ tx.hash }}">https://explorer.didux.network/tx/{{ tx.hash }}</a>
                    </div>
                </div>
                <div class="proof-div-34 padding-left">
                    <p class="sub-title">Hash</p>
                    <p class="bold padding-right">{{ dataParsed.hash }}</p>
                </div>
            </div>
            <div class="proof-sub-info-div flex-sub-section">
                <div class="proof-div-66-sub">
                    <div class="border-bottom">
                        <p class="sub-title">Proof</p>
                        <p class="bold padding-right">{{ dataParsed.proof }}</p>
                    </div>
                    <div class="padding-top">
                        <p class="sub-title">Did</p>
                        <p class="bold padding-right">{{ dataParsed.did }}</p>
                    </div>
                </div>
                <div class="qrcode-div proof-div-34">
                    <div id="claim-qrcode"></div>
                </div>
            </div>
            <div class="proof-content">
                <div class="proof-content-div">
                    <p> {{ tx }}</p>
                </div>
            </div>
        </div>
        <div ng-show="claim.claimType == 999">
            <div ng-repeat="(key, value) in dataParsed">
                <p class="claim-title" >{{ key | uppercase }}</p>
                <p class="claim-value">{{ value }}</p>
            </div>
        </div> 
    </div>
</div>