div.page-logo {overflow: visible;}
img.logo-default {
    max-height: 150px;
    height: 80px;
    margin-top: 15px;
}
.create{background-color:#36c6d3}
.truncate-txhash, .truncate-addrhash{
    white-space:nowrap;
    overflow:hidden;
    text-overflow: ellipsis;
    max-width:220px;
}
.truncate-addrhash {
    max-width:200px;
}
.font-smilo-blue {
    color: #07456B !important;
}
.scrollable {
    max-height: 400px;
    overflow-y: scroll;
    overflow-x: hidden;
}
#table_txs td, #table_internal_txs td {
    font-size: 12px;
    white-space:nowrap;
    overflow:hidden;
    text-overflow: ellipsis;
}
.eth-stat {
    padding-bottom: 20px;
    font-size: 14px;
    font-weight: 600;
    color: #7f90a4;
}
.eth-stat-title {
    font-size: 25px;
    text-align: center;
}

.eth-stat-title2 {
    font-size: 20px;
    text-align: center;
}
.eth-stat-subtitle {
    font-size: 14px;
    text-align: center;
}
.eth-stat-text {
    color: #5b9bd1;
    font-size: 13px;
    font-weight: 800;
    text-align: center;
}
th {
    padding: 10px 10px !important;
}
.margin-left-16 {
    margin-left: 16px;
}
.addr-stats {
    display: flex;
    flex-direction: row;
}
.fade {opacity: 0.6}
.portlet {
    margin-top: 0;
    margin-bottom: 25px;
    padding: 0;
    border-radius: 4px;
}
.portlet.light {
    padding: 12px 20px 15px;
    background-color: #fff;
}
.home-tx{
    font-size: 12px;
    white-space:nowrap;
    overflow:hidden;
    text-overflow: ellipsis;
}
.page-404 {text-align: center;}
.page-404 .number {
    position: relative;
    top: 20px;
    display: inline-block;
    margin-top: 0;
    margin-bottom: 20px;
    text-align: right;
    letter-spacing: -10px;
    line-height: 128px;
    font-size: 128px;
    font-weight: 300;
}
.page-404 .details {
    margin-left: 40px;
    display: inline-block;
    text-align: left;
}
pre {
    margin-top: 5px;
    white-space: pre-wrap;
    word-wrap: break-word;
}
pre.code-js, .verified{
    max-height: 200px;
}
.code {
    font-family: Menlo,Monaco,Consolas,"Courier New",monospace;
    font-size: 13px;
}
i.verified:before{
  content:"\f1ce"
}
.page-logo a {
    text-decoration: none;
}
tr.ng-scope {
    white-space: nowrap;
}
li.ng-scope {
    width: calc(100% - 16px);
}
.table-scrollable {
    margin: 0 !important;
}
@media (max-width: 487px) {
    .container {
        margin: 0 !important;
    }
    .page-header .page-header-top .menu-toggler {
        margin: 33px 3px 0 0;
    }
}
::-webkit-scrollbar {
    width: 4px;
    height: 6px;
}
::-webkit-scrollbar-button {
    height: 0px;
    width: 0px;
}
::-webkit-scrollbar-corner {
    background-color: transparent;
    height: 0px;
    width: 0px;
}
::-webkit-scrollbar-thumb {
    background-color: rgba(68, 77, 88, 0.27);
    border-radius: 10px;
}
::-webkit-scrollbar-track {
    background-color: transparent;
}

.medium {
    background: url(../img/social/medium.png) no-repeat;
}

.telegram {
    background: url(../img/social/telegram.png) no-repeat;
}

.color-smilo {
    color: #032b3f;
}

.page-prefooter h2 {
    color: white !important;
}

.navbar-nav > li.active > a {
    border-bottom: 4px solid #032b3f;
}

@media (max-width: 992px) {
    .logo-default {
        height: 60px !important;
    }
}

@media (max-width: 768px) {
    .top-menu {
        width: 100%;
    }

    .dropdown {
        margin-top: 20px !important;
    }

    .nav {
        width: 100%;
    }

    .dropdown {
        width: 100%;
    }

    .search-form {
        width: 100%;
    }
}

@media (max-width: 475px) {
    .dropdown {
        margin-top: 0px !important;
    }
}
@media (max-width: 480px) {
  .page-header .page-header-top .top-menu .navbar-nav,
  .search-form, .page-header .page-header-top .top-menu .navbar-nav>li.dropdown,
  .page-header .search-form .input-group .form-control{width:100%;}
  .search-form.open{width:100%!important;}
}
.page-spinner-bar{margin-top:-84px;margin-left:-98px;top:50%;left:50%;}
.mini-logo {
  height: 1.2em;
}

tr {
    word-break: break-all;
}
.claim-value {
    color: #f4623a;
    font-size: 13px;
    font-weight: 800;
    margin-top: 2px;
}
.claim-title {
    margin-bottom: 0;
    padding-bottom: 2px;
}
.proof-div {
    padding: 12px;
    border: 2px solid black;
    margin-bottom: 12px;
}
.proof-header-div {
    display: flex;
    margin-bottom: 12px;
}
.proof-header-div img {
    width: 200px;
}
.header-bar {
    width: 2px;
    margin-left: 11px;
    background: black;
}
.proof-sub-info-div {
    display: flex;
    border-top: 2px solid black;
    word-break: break-all;
}
.proof-sub-info-div p {
    margin-bottom: 8px;
    margin-top: 0;
}
.proof-div-66 {
    padding-right: 12px;
    padding-top: 8px;
    padding-bottom: 8px;
    width: 66%;
    border-right: 2px solid black;
}
.proof-div-34 {
    padding-top: 8px;
    padding-bottom: 8px;
    width: 34%;
}
.proof-div-50 {
    padding-right: 12px;
    width: 50%;
    padding-top: 8px;
    padding-bottom: 8px;
}
.sub-title {
    font-size: 12px;
    margin-bottom: 4px;
    font-weight: 200;
}
.padding-left {
    padding-left: 8px;
}
.txhash {
    color: #006599;
}
.border-right {
    border-right: 2px solid black !important;
}
.proof-content {
    word-break: break-all;
    border-top: 2px solid black;
}
.proof-content-div {
    margin-top: 12px;
    background-color:#f3f3fb;
    padding: 16px;
}
.bold {
    font-weight: 500;
}
.proofme-text-header {
    color: #006599;
    letter-spacing: 3px;
    margin-top: 22px;
    padding-left: 18px;
}